:root {
  --brown: color: hsl(0, 86%, 15%);
  --purple: color: hsl(322, 93%, 20%);
}

body {
  background-color: bisque;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

