:root {
  --brown: color: hsl(0, 86%, 15%);
  --purple: color: hsl(322, 93%, 20%);
}

body {
  background-color: gray;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

*{
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  background-color: lightgray;
  width: 320px;
  border-radius: 100px;
  padding: 2rem;
  margin-top: 7.5%;
  
}

.card-body-img{
  height: 8rem;
  border-radius: 1rem;

}

.card-header{
     border-radius: 3rem;
    height: min-content;
    padding: 0rem;
    justify-content: center;
}


h1{
font-size: 2%;
}

.card{
  background-color: lightgray;
  width: 920px;
  border-radius: 100px;
  box-shadow: 4%;
  padding: 3rem;
  justify-content: center;
  

}
.card-footer-info{
  font-size: x-small;
}

.card-footer-info{
  display: flex;
  justify-content: center;
  text-align: center;
}
