header {
  background: blueviolet;
  background-image: url('img/header.jpg');
  // color: #ff6a00;
  // border-top: 2px solid #ff6a00;
  text-align: center;
}

.image-class {
  width: 250px;
  height: 150px;
  border: 2px solid #ff6a00;
  border-radius: 10px;
}
// .title {
//   width: 250px;
//   height: 150px;
//   border: 2px solid #ff6a00;
//   border-radius: 10px;
// }
