* {
  box-sizing: border-box;
}

body {
  // background-image: url(img/petal.jpg);
  color: white;
  font-family: 'Creepster', cursive;
}

.header {
  background: blueviolet;
  background-image: url('/public/img/header.jpg');
  text-align: center;
}

// .title {
//   width: 250px;
//   height: 150px;
//   border: 2px solid #ff6a00;
//   border-radius: 10px;
// }

p {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: black;
}
li {
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 10px;
  width: 150px;
  height: 250px;
  // background-image: url(img/petal.jpg);
  display: grid;
  list-style: none;
  border: grey;
  border-style: inherit;
}

ul {
  background-color: rgb(226, 226, 198);
  // background: rgb(0, 0, 0);
  border: 4px solid #d155bc;
  // margin: 1rem;
  display: grid;
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  // border-radius: black;
  text-align: center;
  justify-content: space-between;
  justify-content: center;

  .name {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
